.flex1{
    display: flex;
}
.flex1_1>div,.flex1_2>div{
    margin-left: 20px;
    padding-top: 30px;
}
.flex1_1,.flex1_2{
    display: flex;
}
.flex1_1{
    margin-right: 150px;
}
.flex1_1>div>a{
    text-decoration: none;
    color:rgb(128, 122, 122);
    font-size: 18px;
    font-family: sans-serif;
}
.flex1_1>div>a:hover{
    color: black;
}
.project_logo>a>img{
    height: 50px;
    width: 50px;
}
.project_logo{
    margin-right: 270px;
    margin-left: 40px;
    padding-top: 10px;
}
.flex1_2>div>a{
    text-decoration: none;
    font-size: 16px;
}
.flex1_2>div:nth-child(2)>a>img{
    height: 20px;
    width: 20px;
    border-radius: 8px;
}
.flex1_2>div:nth-child(3)>a>img{
    height: 30px;
    width: 30px;
}
.flex1_2>div:nth-child(4)>button>img{
    height: 10px;
    width: 20px;
    color:rgb(128, 122, 122);
}.project_dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .project_dropbtn:hover, .project_dropbtn:focus {
    background-color: #2980B9;
  }
  
  .project_dropdown {
    position: relative;
    display: inline-block;
  }
  
  .project_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .project_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .project_dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
#trial{
    border-radius: 8px;
    border: 1px solid orangered;
}  
#project_myDropdown>a{
    font-weight: bold;
    font-family: sans-serif;
}
.pro_sign{
    color: red;
}
.project_dropdown>button{
    height: 20px;
    color: black;
}